
.titulo{
  font-size: 400%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.alinear{
  width:100%;
  text-align: center;
}

.inner
{
  display: inline-block;
}