.Header {
  background-color: #222;
  color: white;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #000000;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  top: 0;
}

.Header h2{
  float: left;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 20px;
  padding-right: 10%;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  float:left;
  width: 40px;
  height: 35px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 20%;
}

.Menu {
  padding: 0;
  padding-top: 70px;
  margin: 0;
  list-style: none;
  
}

.Menu li {
  display: block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.Menu li a{
  color: #CCC;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.Menu li:hover{
  background-color: rgb(1, 0, 49);
}

.Menu a:hover{
  color: rgb(255, 255, 255);
}

.Menu li a:focus {
  background-color: rgb(1, 0, 49);
}